body {
	text-align: center;
	color: #11A2AD;
}

.jumbotron {
	color: #001E1F;
}

.jumbotron h2 {
	color: #84C8C9;
}

a {
    color: #00F4F4;
    text-decoration: none;
}

/*Custom Animation*/

.bounceInUp1 {
  	-webkit-animation-name: bounceInUp;
  	animation-delay: 1s;
	animation-name: bounceInUp;
}

.bounceInUp2 {
	-webkit-animation-name: bounceInUp;
	animation-delay: 2s;
	animation-name: bounceInUp;

}

.bounceInUp3 {
  	-webkit-animation-name: bounceInUp;
  	animation-delay: 3s;
	animation-name: bounceInUp;
}

.bounceInUp4 {
	-webkit-animation-name: bounceInUp;
	animation-delay: 4s;
	animation-name: bounceInUp;
}

.bounceInUp5 {
  	-webkit-animation-name: bounceInUp;
  	animation-delay: 5s;
	animation-name: bounceInUp;
}

.bounceInUp6 {
	-webkit-animation-name: bounceInUp;
	animation-delay: 6s;
	animation-name: bounceInUp;
}
